.feed-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feed-header-fixed {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #ccc;
  padding: 0;
}

.list-container {
  margin-top: 20px;
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
}

.feed-header {
  display: grid;
  grid-template-columns: 120px 170px 200px 200px 200px;
  font-weight: bold;
  background-color: #eee;
}

.feed-cell {
  padding: 10px;
  text-align: center;
}

.feed-row {
  display: grid;
  grid-template-columns: 120px 100px 230px 300px 100px;
  border-bottom: 1px solid #eee;
}

.threshold-update-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the spacing between items */
  margin-top: 10px; /* Optional for spacing above */
}

.threshold-input {
  width: 200px; /* Set a width for consistency */
  padding: 5px;
}
